fastapi==0.115.6
uvicorn[standard]==0.34.0
python-multipart==0.0.20
pydantic==2.10.4

ultralytics==8.3.55
easyocr==1.7.2
opencv-python==4.10.0.84
numpy==1.26.4

streamlit==1.41.1
requests==2.32.3

torch==2.5.1
torchvision==0.20.1